#main:has(.table-fill-screen) {
  display: flex;
  flex-direction: column;
}

.brand {
  height: rem(70);
  display: flex;
  align-items: anchor-center;
  gap: rem(12);
  margin-left: rem(24);

  svg {
    margin-bottom: rem(4);
  }

  .company {
    font-family: "Inter Variable";
    font-size: rem(32);
    font-weight: 100;
  }
}

.user-menu {
  row-gap: rem(4) !important;
}

.burger-menu {
  flex-wrap: nowrap !important;
}

.modal {
  &.full-width {
    .mantine-Modal-content {
      display: flex !important;
      flex-direction: column;
      width: 100%;

      .mantine-Modal-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .modal-main {
          flex-grow: 1;
        }
      }
    }
  }
}
