#main:has(.table-fill-screen) {
    display: flex;
    flex-direction: column;
}

.brand {
    height: 70px;
    display: flex;
    align-items: anchor-center;
    gap: 12px;
    margin-left: 24px;

    svg {
        margin-bottom: 4px;;
    }

    .company {
        font-size: 32px;
        font-weight: 100;
    }
}

.user-menu {
    row-gap: 4px !important;
}

.burger-menu {
    flex-wrap: nowrap !important;
}


.modal {
    &.full-width {
        .mantine-Modal-content {
            display: flex !important;
            flex-direction: column;
            width: 100%;

            .mantine-Modal-body {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .modal-main {
                    flex-grow: 1;
                }
            }
        }
    }
}