#main:has(.table-fill-screen) {
  display: flex;
  flex-direction: column;
}

.brand {
  // height: mantine.rem(80px);
  height: mantine.rem(70);
  display: flex;
  align-items: anchor-center;
  gap: mantine.rem(12px);
  margin-left: mantine.rem(24px);
}

.user-menu {
  row-gap: mantine.rem(4px) !important;
}

.burger-menu {
  flex-wrap: nowrap !important;
}

.modal {
  &.full-width {
    .mantine-Modal-content {
      display: flex !important;
      flex-direction: column;
      width: 100%;

      .mantine-Modal-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .modal-main {
          flex-grow: 1;
        }
      }
    }
  }
}
