#main:has(.table-fill-screen) {
  display: flex;
  flex-direction: column;
}

.brand {
  height: mantine.rem(70px);
  display: flex;
  align-items: anchor-center;
  gap: mantine.rem(12px);
  margin-left: mantine.rem(24px);

  svg {
    margin-bottom: mantine.rem(4px);
  }

  .company {
    font-family: "Inter Variable";
    font-size: mantine.rem(32px);
    font-weight: 100;
  }
}

.user-menu {
  row-gap: mantine.rem(4px) !important;
}

.burger-menu {
  flex-wrap: nowrap !important;
}

.modal {
  &.full-width {
    .mantine-Modal-content {
      display: flex !important;
      flex-direction: column;
      width: 100%;

      .mantine-Modal-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        .modal-main {
          flex-grow: 1;
        }
      }
    }
  }
}
