@use "@fontsource-variable/inter";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Scrollbar
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    right: 0;
    width: mantine.rem(12px);
    height: mantine.rem(12px);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: mantine.rem(8px);
    width: mantine.rem(12px);
    height: mantine.rem(12px);
  }
}
