:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Scrollbar
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    right: 0;
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 8px;
    width: 12px;
    height: 12px;
  }
}