@import "@fontsource-variable/inter";
@import "functions";

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // Scrollbar
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    right: 0;
    width: rem(12);
    height: rem(12);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: rem(8);
    width: rem(12);
    height: rem(12);
  }
}
