.marker-cluster-small {
  // background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  // background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  // background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  // background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  // background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  // background-color: rgba(241, 128, 23, 0.6);
}

.leaflet-oldie .marker-cluster-small {
  // background-color: rgb(181, 226, 140);
}

.leaflet-oldie .marker-cluster-small div {
  // background-color: rgb(110, 204, 57);
}

.leaflet-oldie .marker-cluster-medium {
  // background-color: rgb(241, 211, 87);
}

.leaflet-oldie .marker-cluster-medium div {
  // background-color: rgb(240, 194, 12);
}

.leaflet-oldie .marker-cluster-large {
  // background-color: rgb(253, 156, 115);
}

.leaflet-oldie .marker-cluster-large div {
  // background-color: rgb(241, 128, 23);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
  margin-left: 0;
  margin-top: 0;

  div {
    background-color: #E46450;
    border: 1px solid #A51E0F;
    color: var(--mantine-color-bright);
    width: mantine.rem(30);
    height: mantine.rem(30);
    border-radius: mantine.rem(25);
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      display: block;
      text-align: center;
      font-size: mantine.rem(16);
      font-family: var(--mantine-font-family);
      text-align: center;
      font-weight: 200;
    }
  }
}





.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition:
    -webkit-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  -moz-transition:
    -moz-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  -o-transition:
    -o-transform 0.3s ease-out,
    opacity 0.3s ease-in;
  transition:
    transform 0.3s ease-out,
    opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  -webkit-transition:
    -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition:
    -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
  -o-transition:
    -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
  transition:
    stroke-dashoffset 0.3s ease-out,
    stroke-opacity 0.3s ease-in;
}