.distribution-add {
  margin-top: var(--mantine-spacing-xl);

  .distribution-stepper-root {
    @media screen and (min-width: 62em) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .map-container {
    min-height: mantine.rem(400);
    position: relative;
  }

  .pointer-normal {
    cursor: unset;
  }
}

.good-list-item {
  width: 100%;
  height: mantine.rem(55px);
  border: 1px solid var(--mantine-color-country_gray-light-color);
  border-radius: mantine.rem(8px);
  padding: mantine.rem(16px);
  display: flex;
  align-items: center;
}

.form-good-drawer {
  &.is-loading {
    .mantine-Drawer-header {
      background: var(--overlay-bg);
    }
  }
}

// Breakpoint	Viewport width	Value in px
// xs	36em	576px
// sm	48em	768px
// md	62em	992px
// lg	75em	1200px
// xl	88em	1408px