# Build
build/backend/publish-backend/*
build/frontend/publish-frontend/*
# build/result/*

# Dev env
dev/keycloak
dev/keycloak-themes

# Theme
kaeltebus-keycloak-theme/dist_keycloak

# Backend
kaeltebus-backend/**/bin
kaeltebus-backend/**/obj/Debug
kaeltebus-backend/**/obj/Release
kaeltebus-backend/**/*.db
kaeltebus-backend/**/*.db-shm
kaeltebus-backend/**/*.db-wal


# Frontend
kaeltebus-frontend/logs
kaeltebus-frontend/*.log
kaeltebus-frontend/npm-debug.log*
kaeltebus-frontend/yarn-debug.log*
kaeltebus-frontend/yarn-error.log*
kaeltebus-frontend/pnpm-debug.log*
kaeltebus-frontend/lerna-debug.log*

kaeltebus-frontend/node_modules
kaeltebus-frontend/dist
kaeltebus-frontend/dist-ssr
kaeltebus-frontend/*.local

# # Editor directories and files
# kaeltebus-*/.vscode/*
# kaeltebus-*/!.vscode/extensions.json
# kaeltebus-*/.idea
# kaeltebus-*/.DS_Store
# kaeltebus-*/*.suo
# kaeltebus-*/*.ntvs*
# kaeltebus-*/*.njsproj
# kaeltebus-*/*.sln
# kaeltebus-*/*.sw?


