# Build
build/backend/publish-backend/*
build/frontend/publish-frontend/*
build/geo/publish-geo/*
build/result/

# Dev env
# dev/keycloak
# dev/keycloak-themes

# Theme
kaeltehilfe-keycloak-theme/dist_keycloak

# Backend
kaeltehilfe-backend/**/bin
kaeltehilfe-backend/**/obj/Debug
kaeltehilfe-backend/**/obj/Release
kaeltehilfe-backend/**/*.db
kaeltehilfe-backend/**/*.db-shm
kaeltehilfe-backend/**/*.db-wal
kaeltehilfe-backend/**/project.nuget.cache
kaeltehilfe-backend/**/*.dgspec.json


# Frontend
kaeltehilfe-frontend/logs
kaeltehilfe-frontend/*.log
kaeltehilfe-frontend/npm-debug.log*
kaeltehilfe-frontend/yarn-debug.log*
kaeltehilfe-frontend/yarn-error.log*
kaeltehilfe-frontend/pnpm-debug.log*
kaeltehilfe-frontend/lerna-debug.log*

kaeltehilfe-frontend/node_modules
kaeltehilfe-frontend/dist
kaeltehilfe-frontend/dist-ssr
kaeltehilfe-frontend/*.local

# # Editor directories and files
# kaeltehilfe-*/.vscode/*
# kaeltehilfe-*/!.vscode/extensions.json
# kaeltehilfe-*/.idea
# kaeltehilfe-*/.DS_Store
# kaeltehilfe-*/*.suo
# kaeltehilfe-*/*.ntvs*
# kaeltehilfe-*/*.njsproj
# kaeltehilfe-*/*.sln
# kaeltehilfe-*/*.sw?


