.map-view {
  height: calc(100vh - var(--app-shell-header-height, 0px) - var(--app-shell-footer-height,
        0px) - mantine.rem(32px) - 70px); // Idk why -mantine.rem(32px) are still necessary; 70px for date input -> fix this shit

  .view-controls-container {
    display: flex;
    gap: mantine.rem(32);
  }

  .map-container {
    height: 100%;
    min-height: 100%;
    position: relative;

    .static-add-distribution-flag {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .marker {
        z-index: 400;
        cursor: pointer;
        transform: translateY(-(mantine.rem(30px)));
        height: mantine.rem(60px);
      }
    }

    .static-add-distribution {
      cursor: pointer
    }


  }

  //  .static-add-distribution-flag {
  //   height: 100%;
  //   width: 100%;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;

  //   .marker {
  //     z-index: 400;
  //     cursor: pointer;
  //   }
  // }

  .static-add-distribution {
    cursor: pointer
  }

}

.add-button-group {
  padding: mantine.rem(16px);
  display: flex;
  flex-direction: column;
  row-gap: mantine.rem(8px);
}

.marker-cluster {
  color: var(--mantine-color-dark-text);
}

.numbered-distribution-marker {
  div {

    position: relative;

    .count {
      display: block;
      color: var(--mantine-color-bright);
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -80%);
      // line-height: 30px;
      font-size: mantine.rem(18);
      font-family: var(--mantine-font-family);
      text-align: center;
      font-weight: 200;
    }
  }
}