.map-view {
  height: calc(100vh - var(--app-shell-header-height, 0px) - var(--app-shell-footer-height,
        0px) - rem(32)); // Idk why -rem(32) are still necessary

  .map-container {
    height: 100%;
    min-height: 100%;
    position: relative;

    .static-add-distribution-flag {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .marker {
        z-index: 400;
        cursor: pointer;
        transform: translateY(-(rem(30)));
        height: rem(60);
      }
    }

    .static-add-distribution {
      cursor: pointer
    }

    //  .static-add-distribution-flag {
    //   height: 100%;
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   .marker {
    //     z-index: 400;
    //     cursor: pointer;
    //   }
    // }

    .static-add-distribution {
      cursor: pointer
    }

  }
}

.add-button-group {
  padding: rem(16);
  display: flex;
  flex-direction: column;
  row-gap: rem(8);
}