.map-view {
  height: calc(100vh - var(--app-shell-header-height, 0px) - var(--app-shell-footer-height,
        0px) - mantine.rem(32px)); // Idk why -mantine.rem(32px) are still necessary

  .map-container {
    height: 100%;
    min-height: 100%;
    position: relative;

    .static-add-distribution-flag {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .marker {
        z-index: 400;
        cursor: pointer;
        transform: translateY(-(mantine.rem(30px)));
        height: mantine.rem(60px);
      }
    }

    .static-add-distribution {
      cursor: pointer
    }

    //  .static-add-distribution-flag {
    //   height: 100%;
    //   width: 100%;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;

    //   .marker {
    //     z-index: 400;
    //     cursor: pointer;
    //   }
    // }

    .static-add-distribution {
      cursor: pointer
    }

  }
}

.add-button-group {
  padding: mantine.rem(16px);
  display: flex;
  flex-direction: column;
  row-gap: mantine.rem(8px);
}

.marker-cluster {
  color: var(--mantine-color-dark-text);
}

// .marker-cluster {
//   color: black;

// }

// [data-mantine-color-scheme="light"] > .marker-cluster {
//   color: white;
// }