.main-view {
  height: calc(100vh - var(--app-shell-header-height, 0px) - var(--app-shell-footer-height,
        0px) - mantine.rem(32px)); // Idk why -mantine.rem(32px) are still necessary;

  display: flex;
  flex-direction: column;

  .view-controls-container {
    display: flex;
    gap: mantine.rem(32);
    margin-bottom: mantine.rem(16);

    .buttons-container {
      margin-top: mantine.rem(22);
      display: flex;
      gap: mantine.rem(8)
    }
  }

  .container {
    flex-grow: 1;
    display: flex;

    .details-panel {
      overflow: auto;
    }

    .map-panel {
      flex-grow: 1;

      .map-container {
        height: 100%;
        min-height: 100%;
        position: relative;
        border-radius: 5px;

        .static-add-distribution-flag {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .marker {
            z-index: 400;
            cursor: pointer;
            transform: translateY(-(mantine.rem(30px)));
            height: mantine.rem(60px);
          }
        }
      }

      .add-button-group {
        padding: mantine.rem(16px);
        display: flex;
        flex-direction: column;
        row-gap: mantine.rem(8px);
      }
    }
  }
}


