.distributions-container {
    flex-grow: 1;
    flex-direction: column;
    height: 100%;

    transition: all 1s ease-in-out;
    
    .map-panel {
        // height: 100%;
        flex-grow: 1;

        .map-container {
            height: 100%;
            min-height: 100%;
            position: relative;
            border-radius: 5px;
        }
    }

    .table-panel {
        // height: 100%;
    }
}