.kh-template-card {

    width: 400px;

    &.full-width {
        width: 100%;
    }


    .login-info-wrapper {
        padding: unset !important;
        background-color: unset !important;
    }
}