.panel-divider {
    &.horizontal {
        // height: 100%;
        height: auto;
        width: 1px;
        margin: 0 10px;
    }

    &.vertical {
        height: 1px;
        width: 100%;
        margin: 10px 0;
    }

    background-color: var(--mantine-color-blue-light);
    // transition: 200ms;
    position: relative;
}



.panel-divider:active,
.panel-divider:hover {
    outline-width: 0;
    background-color: var(--mantine-color-blue-3);
    transition: 200ms;
}

// @media(hover: hover) and (pointer: fine) {
//   .panel-divider {
//     outline-width: 0;
//     background-color: var(--mantine-color-blue-3);
//     transition: 200ms;
//   }
// }

// .panel-divider:hover {
//   background-color: var(--mantine-color-blue-3);
//   transition: 200ms;
// }

// .panel-divider.vertical:hover {
//   // height: 2px;
//   transition: 200ms;
// }

// .panel-divider.horizontal:hover {
//   // width: 2px;
//   transition: 200ms;
// }



.panel-divider::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
}

.panel-divider.horizontal::after {
    left: -8px;
    width: 18px;
    height: 100%;
    background-position: 12px 50%;
}

.panel-divider.vertical::after {
    top: -8px;
    height: 18px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 12px;
}

.panel-divider.horizontal.light::after {
    background-image: url("data:image/svg+xml,%3Csvg width='2' height='14' viewBox='0 0 2 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='1' cy='5' r='1'/%3E%3Ccircle cx='1' cy='9' r='1'/%3E%3Ccircle cx='1' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.panel-divider.horizontal.dark::after {
    background-image: url("data:image/svg+xml,%3Csvg width='2' height='14' viewBox='0 0 2 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='1' cy='5' r='1'/%3E%3Ccircle cx='1' cy='9' r='1'/%3E%3Ccircle cx='1' cy='13' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.panel-divider.vertical.light::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='5' cy='1' r='1'/%3E%3Ccircle cx='9' cy='1' r='1'/%3E%3Ccircle cx='13' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");
}

.panel-divider.vertical.dark::after {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='2' viewBox='0 0 14 2' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-rule='evenodd'%3E%3Ccircle cx='1' cy='1' r='1'/%3E%3Ccircle cx='5' cy='1' r='1'/%3E%3Ccircle cx='9' cy='1' r='1'/%3E%3Ccircle cx='13' cy='1' r='1'/%3E%3C/g%3E%3C/svg%3E");
}