.DistributionAdd {
    margin-top: var(--mantine-spacing-xl);
    .DistributionStepperRoot {
       @media screen and (min-width: 62em) {
            display: flex;
            flex-direction: column;
            align-items: center;
       }
    }
}


// Breakpoint	Viewport width	Value in px
// xs	36em	576px
// sm	48em	768px
// md	62em	992px
// lg	75em	1200px
// xl	88em	1408px