.login-body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .signup {
        margin: 0 !important;
    }

    .social-providers {
        margin-top: var(--mantine-spacing-sm);
    }

    input[type="checkbox"] {
        margin: 0;
    }
}
